@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #e6007a;
  --blue-color: #1b95e0;
}

body {
  font-family: "Poppins", sans-serif;
}
.headingcontact {
  font-family: "Poppins", sans-serif;
}
.conatct {
  color: #ff4a67;
}
.heroCon {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Contact css */
.eyn {
  width: 80%;
  padding: 15px;
}

.eyp {
  color: #fe072f;
  width: 80%;
  font-family: "Poppins", sans-serif;

  padding: 15px;
}

.bt1 {
  margin-top: 30px;
  border: none;
  background: linear-gradient(90deg, #ff4a67 13.54%, #ff6c83 100%);
  width: 30%;
  margin-left: 10px;
  border-radius: 7px;
  padding: 12px;
  color: white;
}
.cont {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-radius: 7px;
  padding: 15px;
}
.masage {
  width: 80%;
  border-radius: 7px;
  padding: 15px;
}

.cont {
  width: 80%;
  bottom: 40px;
}

@media (max-width: 767px) {
  .heroCon .eyn .bt1 .cont {
    width: 100%;
  }
}