@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #e6007a;
  --blue-color: #1b95e0;
}

body {
  font-family: "poppins", sans-serif;
}

.headers{
  color: #ff889b;
  margin-block-start:auto ;
  position: relative;

  /* ms-auto my-4 my-lg-0 */

}
.logo{
    margin-left: auto;
    font: normal normal 600 30px/46px Poppins;
    letter-spacing: 0.3px;
    color: #FE072F;
    opacity: 1;

}

.menu{
  /* position: relative; */
    color: #FF889B !important;
    text-align: left;
    font: normal normal normal 23px/34px Poppins;
    letter-spacing: 0.23px;
    opacity: 1;
    font-size: 1.3rem;

}
/* .menu:after{
content: '';
padding: absolute;
background-color: #e6007a;
height: 3px;
width: 0;
left: 0;
border: -10px;
}

.menu:hover{
  width: 100%;
} */

#navbarScrollingDropdown{
  color: #ff889b;
  font: normal normal normal 23px/34px Poppins;
}
  .navCta {
    background: linear-gradient(90deg, #FF4A67 13.54%, #FF6C83 100%);
    font: normal normal normal 23px/34px Poppins;
    letter-spacing: 0.23px;
    color: #FFFFFF;
    border-radius: 10px;

    opacity: 1;

  }
  
  .navCtas{
  
    color: #FF4A67 !important;
    border-color: #FF4A67;
    border:3px solid #FF4A67;
    height: 45px;
    line-height: 45px;
    /* max-width: 170px; */
    border-radius: 10px;
    /* border: none; */
    font-size: 12px;
    font-weight: 700;           
    padding: 0 10px !important;
    margin-left: 30px;
  }